{% extends 'base.html.twig'%}

{% block title 'Agence Jura' %}

{% block body %}
<div class="container mt-4 text-center">
    <h1>Agence Jura</h1>
    <p>Bienvenue sur la page de notre agence touristique du Jura. Vous pouvez réserver et louer des séjours dès maintenant.</p>
</div>

<div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.city }} ({{ property.postalCode }}</p>
                            <div class="text-primary"
                                 style="font-weight:bold;font-size: 2rem">{{ property.formattedPrice }} €
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}